@using Dashboard.Utils
@{
    ViewBag.Title = "QT Inflow";
    List<QtInflowStateSummary> qtInflowStateSummaries = ViewBag.QtInflow;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2></h2>
            </hgroup>
        </div>
    </section>
}
<div class="container">
    <div class="row">
        <h4>
            @{ var today = DateTime.Now.ToString("dd-MMM-yyyy");}
            Date: @Html.DisplayFor(modelItem => today)
        </h4>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div>
                <h3 class="text-primary">QT-Inflow</h3>
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>Transaction State</th>
                            <th>Description</th>
                            <th>Total Transactions Count</th>
                            <th>Total Transactions Volume</th>
                            <th>State Indicator</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var summary in qtInflowStateSummaries)
                        {
                            <tr>
                                <td class="col-sm-2"><b>@Html.DisplayFor(modelItem => summary.TransactionStateCode)</b></td>
                                <td class="col-sm-4"><b>@Html.DisplayFor(modelItem => summary.TransactionStateDesc)</b></td>
                                <td class="col-sm-2 text-warning text-right"><b>@Html.DisplayFor(modelItem => summary.TotalTransaction)</b></td>
                                <td class="col-sm-2 text-warning text-right"><b>@Html.DisplayFor(modelItem => summary.TotalTransactionVolume)</b></td>
                                <td class="col-sm-2 text-success"><b>@Html.DisplayFor(modelItem => summary.TransactionStateInd)</b></td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function refresh() {
            setTimeout(function () {
                location.reload();
            }, 120000);
        }
        refresh();
    </script>
}